@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap") * {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: "Smooch Sans", serif;
}

.overAll {
  box-sizing: border-box;
  display: flex;
}

.left {
  box-sizing: border-box;
  background-image: url(./image/pancake1.webp);

  width: 50%;
  height: 100vh;
  display: flex;
  text-align: right;
}

.priceBox {
  box-sizing: border-box;
  background-color: greenyellow;
  width: 3cm;
  height: 3cm;
  border-radius: 50%;
  text-align: center;
  padding: 5%;
  margin-left: 15cm;
  margin-top: 1cm;
}

#basePrice {
  font-size: xx-large;
}

.right {
  box-sizing: border-box;
  /* margin-left: 0.3cm black; */
  padding-left: 6px;
  border-left: 0.5cm black;
  width: 50%;
  height: 100vh;
  /* display: flex; */
  background-color: rgb(206, 206, 205);

  box-shadow: 20px rgb(98, 97, 97);
}

.cakeRadio {
  box-sizing: border-box;
  width: 20cm;
  height: 1cm;
  border-top: 10px;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.radioBox {
  box-sizing: border-box;
  width: 18.5cm;
  height: 1cm;
  border: 5px;

  border-color: rgb(12, 12, 11);
  
  margin-top: 1cm black;
  text-align: center;

  padding-top: .20cm black;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#sugerType {
  box-sizing: border-box;
  width: 12cm;
  height: 1cm;
  text-align: center;
  font-size: large;
}

.Addoptions {
  text-align: center;
}

#cakeLayer {
  box-sizing: border-box;
  width: 12cm;
  height: 1cm;
  text-align: center;
  font-size: large;
}

.Addoptions {
  text-align: center;
  margin-top: 5px;
}
